<button class="btn btn-primary" type="button" data-toggle="collapse"
				data-target="#collapseAddModelCar" aria-expanded="false" aria-controls="collapseAddModelCar">
	Добавить модель
</button>
<div class="collapse" id="collapseAddModelCar">
	<div class="card card-body">
		<form (submit)="createModelCar()">
			<div class="form-row">
				<div class="col">
					<input type="text" [(ngModel)]="model" name="model" class="form-control" placeholder="Введите название модели...">
				</div>
				<div class="col">
					<input type="text" [(ngModel)]="firm" name="firm" class="form-control" placeholder="Введите название фирмы...">
				</div>
			</div>
			<button type="submit" class="btn btn-success mt-3">Добавить</button>
		</form>
	</div>
</div>

<div class="accordion mt-4" id="accordionFirms">

	<div class="card" *ngFor="let f of allFirms" style="overflow: visible;">
		<div class="card-header" [id]="'heading' + f">
			<div class="row">
				<h2 class="col mb-0">
					<button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse"
									[attr.data-target]="'#collapse' + f" aria-expanded="false"
									[attr.aria-controls]="'collapse' + f" [innerText]="f">
					</button>
				</h2>
				<div class="dropdown col-auto">
					<button class="btn btn-outline-warning dropdown-toggle" type="button" [id]="'dropdownEditFirm' + f"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Изменить название
					</button>
					<div class="dropdown-menu" [attr.aria-labelledby]="'dropdownEditFirm' + f">
						<div class="card-body" style="min-width: 300px;">
							<form class="mx-2" (submit)="updateNameFirm(f)">
								<input type="text" [(ngModel)]="firm" name="firm" class="form-control" placeholder="Введите название фирмы...">
								<button type="submit" class="btn btn-success mt-3">Изменить</button>
							</form>
						</div>
					</div>
				</div>
				<form (submit)="deleteFirm(f)" class="col-auto">
					<button type="submit" class="btn btn-outline-danger">Удалить</button>
				</form>
			</div>
		</div>
		<div [id]="'collapse' + f" class="collapse" [attr.aria-labelledby]="'heading' + f" data-parent="#accordionFirms">
			<div class="card-body">
				<ul class="list-group">
					<ng-container *ngFor="let m of modelsCar">
						<li class="list-group-item" *ngIf="m.firm === f">
							<div class="row align-items-center">
								<div class="font-weight-bold col" [innerText]="m.model"></div>
								<div class="dropdown col-auto">
									<button class="btn btn-outline-warning dropdown-toggle" type="button"
													[id]="'dropdownEditModel' + m.model"
													data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Изменить название
									</button>
									<div class="dropdown-menu" [attr.aria-labelledby]="'dropdownEditModel' + m.model">
										<div class="card-body" style="min-width: 300px;">
											<form class="mx-2" (submit)="updateNameModel(m.model, f)">
												<input type="text" [(ngModel)]="model" name="model" class="form-control" placeholder="Введите название модели...">
												<button type="submit" class="btn btn-success mt-3">Изменить</button>
											</form>
										</div>
									</div>
								</div>
								<form (submit)="deleteModel(m.model, f)" class="col-auto">
									<button type="submit" class="btn btn-outline-danger">Удалить</button>
								</form>
							</div>
						</li>
					</ng-container>
				</ul>
			</div>
		</div>
	</div>
</div>
