<div class="bg-indigo-50 shadow-3 w-full fixed z-5">
  <div class="grid grid-nogutter justify-content-center">
    <div class="col-11 md:col-10 xl:col-8">
      <div class="flex justify-content-between align-items-center flex-wrap">
        <p class="text-xl my-3">
          <a routerLink="/" class="text-black-alpha-90">
            Car <span class="text-blue-700 text-3xl fw-bold header-title">MKD</span> Systems
          </a>
        </p>
        <div>
          <p-avatar *ngIf="!authService.currentUser"
                    icon="pi pi-user" size="large"
                    styleClass="cursor-pointer"
                    shape="circle"
                    routerLink="user/login">
          </p-avatar>
          <p-avatar *ngIf="authService.currentUser"
                    size="large"
                    styleClass="cursor-pointer"
                    shape="circle"
                    label="{{ authService.currentUser.login[0]?.toUpperCase() }}"
                    (click)="op.toggle($event)">
          </p-avatar>
          <p-overlayPanel #op styleClass="dropdown-overlay-panel">
            <ng-template pTemplate>
              <p-menu [model]="menuHeader"
                      [style]="{ 'border': 'none' }"
                      styleClass="w-full"
                      (click)="op.hide()">
              </p-menu>
            </ng-template>
          </p-overlayPanel>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-nogutter justify-content-center" style="padding-top: 6rem">
  <div class="col-11 md:col-10 xl:col-8">
    <router-outlet></router-outlet>

    <footer class="mt-5">
      <p-divider></p-divider>
      <div class="w-full text-center mt-5">
        <p class="text-lg">© {{ footerYear }}</p>
      </div>
    </footer>
  </div>
</div>


