<div class="bg-indigo-50 shadow-3 w-full fixed">
  <div class="flex justify-content-between align-items-center flex-wrap">
    <p class="fw-bold text-xl ml-4"><a routerLink="/" class="text-blue-700" style="text-decoration: none">Car MKD Systems</a></p>

    <div>
      <p-avatar icon="pi pi-user" size="large" styleClass="mr-4 cursor-pointer" shape="circle" routerLink="/login"></p-avatar>
    </div>
  </div>
</div>

<div class="grid grid-nogutter justify-content-center pt-8">
  <router-outlet class="col-12 md:col-10 xl:col-8"></router-outlet>
</div>

<footer class="mt-5">
  <p-divider></p-divider>
  <div class="w-full text-center mt-5">
    <p class="text-lg">© {{ footerYear }}</p>
  </div>
</footer>


