<header class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex">
    <div class="navbar-brand d-flex align-items-center flex-grow-1">
      <a [routerLink]="['/']" class="text-decoration-none text-reset"><strong>Car MKD Systems</strong></a>
    </div>
    <div class="dropdown mr-3" *ngIf="authService.isAuth()">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Редактирование
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/edit-models']">Панель моделей автотранспорта</a>
        <a class="dropdown-item" [routerLink]="['/edit-params']">Панель характеристик</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/create-product']">Создать товар</a>
      </div>
    </div>
		<a [routerLink]="['/login']" *ngIf="!authService.isAuth()" class="navbar-brand align-items-center">
			<strong class="text-muted">Admin</strong>
		</a>
    <strong class="text-muted" *ngIf="authService.isAuth()" [innerText]="authService.getLogin()"></strong>
		<button type="button" *ngIf="authService.isAuth()" (click)="logoutUser()" class="btn btn-danger ml-3">Выйти</button>
  </div>
</header>
