<div class="card" *ngIf="product != null">
	<div class="row no-gutters">
		<label class="col-6 mb-0"
					 [style]="authService.isAuth() ? 'cursor: pointer' : ''">
			<div id="carouselImages" class="carousel slide" data-interval="false">
				<ol class="carousel-indicators" *ngIf="product.images.length != 0">
					<li *ngFor="let i of product.images; let ind = index" data-target="#carouselImages"
							[attr.data-slide-to]="ind - 1" class="bg-secondary{{ (ind == 0) ? ' active' : '' }}"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active" *ngIf="product.images.length == 0">
						<svg xmlns="http://www.w3.org/2000/svg" height="300" class="d-block rounded w-100">
							<rect width="100%" height="100%" fill="#eee"></rect>
							<text x="50%" y="50%" fill="#aaa" text-anchor="middle">Загрузить картинки</text>
						</svg>
					</div>
					<ng-container *ngIf="product.images.length != 0">
						<div *ngFor="let i of product.images; let ind = index" class="carousel-item{{ ind == 0 ? ' active' : '' }}">
							<img [src]=" 'images/' + i" height="300" class="d-block rounded w-100">
						</div>
					</ng-container>
				</div>
				<a *ngIf="product.images.length != 0" class="carousel-control-prev"
					 href="#carouselImages" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a *ngIf="product.images.length != 0" class="carousel-control-next"
					 href="#carouselImages" role="button" data-slide="next">
					<span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<form *ngIf="authService.isAuth()" enctype="multipart/form-data">
				<input type="file" name="images" (change)="uploadImages($event)" accept="image/*" multiple hidden>
			</form>
		</label>
		<div class="col">
			<h4 class="card-header" [innerText]="product.name"></h4>
			<div class="card-body">

				<div class="row mb-2" *ngIf="authService.isAuth() && activeMod != -1">
					<div class="dropdown col-auto">
						<button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownEditDiscount"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Скидка
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownEditDiscount">
							<div class="card-body" style="min-width: 25vw;">
								<form class="mx-2" (submit)="addDiscount()">
									<input type="number" [(ngModel)]="discount" name="discount" class="form-control"
												 placeholder="Введите цену...">
									<button type="submit" class="btn btn-success col-auto mt-3">Изменить</button>
								</form>
							</div>
						</div>
					</div>
					<form class="col-auto" *ngIf="product.mods[activeMod].discount !== -1" (submit)="delDiscount()">
						<button type="submit" class="btn btn-outline-danger">Удалить скидку</button>
					</form>
				</div>

				<div class="row align-items-center" *ngIf="activeMod != -1">
					<h4 class="card-text col-auto font-weight-bold mb-0{{ product.mods[activeMod].discount === -1 ? ' text-primary' : ' text-danger' }}"
							[innerText]="product.mods[activeMod].discount === -1 ? convertToMoney(product.mods[activeMod].price) : convertToMoney(product.mods[activeMod].discount)"></h4>
					<h5 class="card-text text-secondary font-weight-bold col-auto"
							*ngIf="product.mods[activeMod].discount !== -1"
							[innerHTML]="'<del>' + convertToMoney(product.mods[activeMod].price) + '</del>'"></h5>
					<div class="dropdown col-auto" *ngIf="authService.isAuth() && product.mods[activeMod].discount === -1">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEditPrice"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Изменить цену
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownEditPrice">
							<div class="card-body" style="min-width: 25vw;">
								<form class="mx-2" (submit)="editPrice()">
									<input type="number" [(ngModel)]="price" name="price" class="form-control"
												 placeholder="Введите цену...">
									<button type="submit" class="btn btn-success mt-3">Изменить</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mt-2">
					<p class="card-text col-auto mb-0{{ product.stock > 0 ? ' text-muted' : ' text-danger' }}"
						 [innerText]="product.stock > 0 ? ('В наличии: ' + product.stock.toString()) : 'Нет в наличии'"></p>
					<div class="dropdown col-auto" *ngIf="authService.isAuth()">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEditStock"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Изменить кол-во
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownEditStock">
							<div class="card-body" style="min-width: 25vw;">
								<form class="mx-2" (submit)="updateStock()">
									<input type="number" [(ngModel)]="countStock" name="countStock" class="form-control" min="0" max="10000"
												 placeholder="Введите кол-во...">
									<button type="submit" class="btn btn-success mt-3">Изменить</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mt-3">
	<h5 class="card-header text-center">Тип комплектации</h5>
	<div class="card-body">
		<div class="overflow-auto" *ngIf="product.mods.length !== 0">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button *ngFor="let m of product.mods; let ind = index" type="button" [innerText]="m.name"
								class="btn{{ (activeMod === ind) ? ' btn-secondary' : ' btn-outline-secondary' }}"
								(click)="selectMod(ind)"></button>
			</div>
		</div>
		<ng-container *ngIf="authService.isAuth()">
			<div class="dropdown mt-3">
				<button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownAddMod"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Создать новую модификацию
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownAddMod">
					<div class="card-body" style="min-width: 25vw;">
						<form class="mx-2" (submit)="createMod()">
							<input type="text" [(ngModel)]="newNameMod" name="newNameMod" class="form-control"
										 placeholder="Введите название модификации...">
							<button type="submit" class="btn btn-success mt-3">Создать</button>
						</form>
					</div>
				</div>
			</div>

			<ng-container *ngIf="activeMod != -1">
				<div class="dropdown mt-3">
					<button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownEditMod"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Изменить название модификации
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownEditMod">
						<div class="card-body" style="min-width: 25vw;">
							<form class="mx-2" (submit)="editMod()">
								<input type="text" [(ngModel)]="editNameMod" name="editNameMod" class="form-control"
											 placeholder="Введите название модификации...">
								<button type="submit" class="btn btn-success mt-3">Изменить</button>
							</form>
						</div>
					</div>
				</div>
				<button (click)="deleteMod()" type="button" class="btn btn-outline-danger mt-3">Удалить модификацию</button>
			</ng-container>
		</ng-container>
	</div>
</div>

<div class="card mt-3" style="min-height: 300px;">
	<h5 class="card-header text-center">Подходит для автомобилей</h5>
	<div class="card-body">

		<div class="accordion mb-3" id="accordionFirms" *ngIf="authService.isAuth()">

			<div class="card" *ngFor="let f of allFirms" style="overflow: visible;">
				<div class="card-header" [id]="'heading' + f">
					<div class="row">
						<h2 class="col mb-0">
							<button class="btn btn-link btn-block text-left font-weight-bold" type="button"
											data-toggle="collapse" [attr.data-target]="'#collapse' + f" aria-expanded="false"
											[attr.aria-controls]="'collapse' + f" [innerText]="f">
							</button>
						</h2>
					</div>
				</div>
				<div [id]="'collapse' + f" class="collapse" [attr.aria-labelledby]="'heading' + f"
						 data-parent="#accordionFirms">
					<div class="card-body">
						<ul class="list-group">
							<ng-container *ngFor="let m of allModels">
								<li class="list-group-item" *ngIf="m.firm === f">
									<div class="row align-items-center">
										<div class="font-weight-bold col" [innerText]="m.model"></div>
										<button type="button" *ngIf="!isModelCar(m._id)" class="btn btn-outline-success col-auto mr-2"
														[id]="'btnAddModel' + m._id" (click)="addCarModel(m._id)">
												Добавить
										</button>
										<button type="button" *ngIf="isModelCar(m._id)" class="btn btn-outline-danger col-auto mr-2"
														[id]="'btnDelModel' + m._id" (click)="delCarModel(m._id)">
												Удалить
										</button>
									</div>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="list-group" role="tablist">
					<a *ngFor="let f of activeModels; let ind = index"
						 [id]="'list-list' + f.firm" data-toggle="list" [href]="'#list' + f.firm"  role="tab" [innerText]="f.firm"
						 class="{{ 'list-group-item list-group-item-action' + (ind == 0 ? ' active' : '') }}"></a>
				</div>
			</div>
			<div class="col-8">
				<div class="tab-content">
					<div *ngFor="let f of activeModels; let ind = index"
							 class="{{ 'tab-pane fade' + (ind == 0 ? ' show active' : '') }}" role="tabpanel"
							 [id]="'list' + f.firm" [attr.aria-labelledby]="'list-list' + f.firm">
						<ng-container *ngFor="let m of f.models">
							<h6 [innerText]="m"></h6>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mt-3">
	<h5 class="card-header text-center">Характеристики</h5>
	<div class="card-body">
		<ul class="list-group">
			<ng-container *ngFor="let p of allParams; let ind = index">
				<li class="list-group-item" *ngIf="authService.isAuth() || findParam(p.name) !== ''">
					<div class="row align-items-center">
							<h6 class="col-auto mb-0" [innerText]="p.name + ':'"></h6>
							<p class="col mb-0" [innerText]="findParam(p.name)"></p>
						<div class="dropdown col-auto" *ngIf="authService.isAuth()">
							<button class="btn btn-outline-warning dropdown-toggle" type="button" [id]="'dropdownEditParam' + p.name"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Изменить
							</button>
							<div class="dropdown-menu" [attr.aria-labelledby]="'dropdownEditParam' + p.name">
								<div class="card-body" style="min-width: 20vw;">
									<form class="mx-2" (submit)="editParam(p.name, ind)">
										<input type="text" [(ngModel)]="param[ind]" name="param" class="form-control" placeholder="Введите значение...">
										<button type="submit" class="btn btn-success mt-3">Изменить</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ng-container>
		</ul>
	</div>
</div>

<div class="mt-3">
	<flash-messages></flash-messages>
</div>

<div class="row mt-3" *ngIf="authService.isAuth()">
	<form class="col-auto" (submit)="publicProduct()" *ngIf="!product.isPublic">
		<button type="submit" class="btn btn-success">
			Опубликовать
		</button>
	</form>
	<form class="col-auto" (submit)="deleteProduct()">
		<button type="submit" class="btn btn-danger">
			Удалить
		</button>
	</form>
</div>
