@import '../../../node_modules/primeng/resources/themes/tailwind-light/theme.css';

.p-component {
  font-size: 1rem;
  font-weight: 500;
}

*:focus,
.p-focus,
.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: none !important;
}

.p-message.p-message-error,
.p-toast .p-toast-message.p-toast-message-error {
  background: #ffd7d7 !important;
}

