@font-face {
  font-family: "Cooper Std Black";
  src: url("assets/fonts/Cooper Std Black.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("assets/fonts/water-marks/Caveat/Caveat-Regular.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("assets/fonts/water-marks/Dancing Script/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "Great Vibes";
  src: url("assets/fonts/water-marks/Great Vibes/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Sacramento";
  src: url("assets/fonts/water-marks/Sacramento/Sacramento-Regular.ttf");
}

@font-face {
  font-family: "Shadows Into Light Two";
  src: url("assets/fonts/water-marks/Shadows Into Light Two/ShadowsIntoLightTwo-Regular.ttf");
}
