<div class="grid mb-4 mt-1">
  <div class="col">
    <div class="grid">
      <div class="col-4 pb-0">
        <car-category-multi-select [categories]="filters.categories"
                                   [(selectedCategories)]="selectedFilters.categories"
                                   [labelInput]="true">
        </car-category-multi-select>
      </div>

      <div class="col-4 pb-0">
        <car-brand-car-multi-select [brandsCar]="filters.brands"
                                    [(selectedBrandsCar)]="selectedFilters.brands"
                                    [labelInput]="true">
        </car-brand-car-multi-select>
      </div>

      <div class="col-4 pb-0">
        <car-model-car-multi-select [modelsCar]="filters.models"
                                    [(selectedModelsCar)]="selectedFilters.models"
                                    [labelInput]="true">
        </car-model-car-multi-select>
      </div>
    </div>
  </div>

  <div class="p-2">
    <p-button label="Найти" icon="pi pi-search" styleClass="h-full" [loading]="loading" (onClick)="loadProducts()"></p-button>
  </div>
</div>

<car-spinner *ngIf="loading"></car-spinner>

<div *ngIf="!loading">
  <div class="flex justify-content-end">
    <p-paginator #paginatorStart [rows]="queryParams.limit.value" [totalRecords]="countProducts" (onPageChange)="paginate($event)"></p-paginator>
  </div>



  <div class="flex justify-content-end">
    <p-paginator #paginatorEnd [rows]="queryParams.limit.value" [totalRecords]="countProducts" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
