<car-spinner *ngIf="!product"></car-spinner>

<div *ngIf="product">
  <div *ngIf="authService.currentUser?.roles.includes(RoleEnum.ADMIN)" class="flex flex-wrap lg:justify-content-end">
    <button *ngIf="!product.isPublic"
            pButton [label]="'Опубликовать'"
            icon="pi pi-eye" class="p-button-warning mr-2 mb-3"
            (click)="publicProduct()">
    </button>
    <button pButton [label]="'Редактировать'"
            icon="pi pi-pencil" class="p-button-success mr-2 mb-3"
            routerLink="/product/edit/{{ cardId }}">
    </button>
    <button pButton [label]="'Копировать'"
            icon="pi pi-copy" class="mr-2 mb-3"
            routerLink="/product/add"
            [queryParams]="{ copyId: cardId }">
    </button>
    <button pButton [label]="'Удалить'"
            icon="pi pi-trash" class="p-button-danger mb-3"
            (click)="deleteProduct()">
    </button>
  </div>

  <p-card styleClass="card-product">
    <div class="grid grid-nogutter">
      <p-galleria *ngIf="product.images[0]" class="col-12 lg:col-6" [(value)]="product.images"
                  [responsiveOptions]="responsiveOptions" [numVisible]="5" indicatorsPosition="top"
                  [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true">
        <ng-template pTemplate="item" let-item>
          <img [src]="('file/' + item.path) | apiUrl" style="width: 100%; display: block;" alt="{{ item.name }}">
        </ng-template>
      </p-galleria>
      <p-skeleton *ngIf="!product.images[0]" class="col-12 lg:col-6" width="100%" height="300px"></p-skeleton>
      <div class="col-12 lg:col-6">
        <div class="flex justify-content-center shadow-1 bg-gray-50">
          <p class="fw-bold text-xl my-3">{{ product.name }}</p>
        </div>
        <div class="ml-2">
          <div *ngIf="activeModification" class="flex align-items-center mt-3">
            <p class="fw-bold">{{ isPartner() ? 'Розничная цена' : 'Цена' }}:</p>
            <p *ngIf="activeModification.discount > 0"
               class="ml-2 fw-bold text-2xl m-0" style="color: #ce0400">
              {{ activeModification.discount | number }} ₽
            </p>
            <p *ngIf="!activeModification.discount && activeModification.price"
               class="ml-2 fw-bold text-2xl text-blue-500 m-0">
              {{ activeModification.price | number }} ₽
            </p>
            <p *ngIf="activeModification.discount > 0 && activeModification.price"
               class="ml-3 fw-bold text-xl text-gray-400 line-through m-0">
              {{ activeModification.price | number }} ₽
            </p>
          </div>

          <div *ngIf="isPartner() && activeModification" class="flex align-items-center">
            <p class="fw-bold">Партнерская цена:</p>
            <p *ngIf="activeModification.discountPartner > 0"
               class="ml-2 fw-bold text-2xl m-0" style="color: #ce0400">
              {{ activeModification.discountPartner | number }} ₽
            </p>
            <p *ngIf="!activeModification.discountPartner && activeModification.pricePartner"
               class="ml-2 fw-bold text-2xl text-blue-500 m-0">
              {{ activeModification.pricePartner | number }} ₽
            </p>
            <p *ngIf="activeModification.discountPartner > 0 && activeModification.pricePartner"
               class="ml-3 fw-bold text-xl text-gray-400 line-through m-0">
              {{ activeModification.pricePartner | number }} ₽
            </p>
          </div>
          <p *ngIf="product.amount" class="greytext">В наличии: {{ product.amount | number }} шт.</p>
          <p *ngIf="!product.amount" style="color: #ae0400">Нет в наличии</p>
        </div>
      </div>
    </div>
  </p-card>

  <p-panel styleClass="mt-4">
    <ng-template pTemplate="header">
      <div class="w-full">
        <p class="text-center fw-bold m-0 text-lg">Тип комплектации</p>
      </div>
    </ng-template>
    <span class="p-buttonset">
      <button *ngFor="let modification of product.modifications"
              class="p-button-secondary {{ modification === activeModification ? '' : 'p-button-outlined' }}"
              pButton pRipple [label]="modification.name" (click)="activeModification = modification">
      </button>
    </span>
  </p-panel>

  <p-panel styleClass="mt-4">
    <ng-template pTemplate="header">
      <div class="w-full">
        <p class="text-center fw-bold m-0 text-lg">Информация</p>
      </div>
    </ng-template>
    <div class="grid">
      <div *ngIf="product.modelsCar?.length" class="col-12{{ activeModification?.params ? ' lg:col-6' : '' }}">
        <p-fieldset legend="Подходит для автомобилей">
          <p-accordion>
            <p-accordionTab *ngFor="let brand of brandsProduct" header="{{ brand }}">
              <p *ngFor="let model of product.modelsCar | keyValueFilter: { 'brand.brand': brand }" class="my-1 fw-bold">{{ model.model }}</p>
            </p-accordionTab>
          </p-accordion>
        </p-fieldset>
      </div>

      <div *ngIf="activeModification?.params" class="col-12{{ product.modelsCar?.length ? ' lg:col-6' : '' }}">
        <p-fieldset legend="Характеристики">
          <p-table [value]="category?.characteristics | orderBy: 'order:number'" styleClass="basic-table">
            <ng-template pTemplate="body" let-characteristic>
              <tr *ngIf="activeModification?.params[toCharacteristic(characteristic)._id]">
                <td class="greytext">{{ toCharacteristic(characteristic).name }}:</td>
                <td>{{ activeModification?.params[toCharacteristic(characteristic)._id] }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-fieldset>
      </div>
    </div>
  </p-panel>
</div>
