<h3 class="dividing-header">Товар</h3>

<div class="grid">
  <div class="col-12 xl:col-6">
    <div class="p-fluid">

      <div class="field">
        <label class="fw-bold">Фотографии</label>
        <div *ngIf="product.images?.length" class="mb-3">
          <p-scrollPanel styleClass="w-full" class="create-product" [style]="{ height: '250px' }">
            <p-table [value]="product.images" [reorderableColumns]="true" styleClass="basic-table">
              <ng-template pTemplate="body" let-image let-index="rowIndex">
                <tr *ngIf="toImage(image) as image" [pReorderableRow]="index">
                  <td class="w-3rem">
                    <p>{{ index + 1 }}.</p>
                  </td>
                  <td class="w-3rem">
                    <span class="pi pi-bars" [pReorderableRowHandle]=""></span>
                  </td>
                  <td>
                    <car-file [file]="image" class="w-full"></car-file>
                  </td>
                  <td class="w-3rem">
                    <button [disabled]="uploadingFiles"
                            pButton pRipple
                            type="button"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-text"
                            (click)="deleteFile(image)">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-scrollPanel>
        </div>
        <p-fileUpload #fileUpload
                      mode="basic"
                      [customUpload]="true"
                      chooseIcon="pi-paperclip"
                      chooseLabel="Прикрепить фотографии"
                      [multiple]="true"
                      [disabled]="uploadingFiles"
                      (uploadHandler)="uploadFiles($event)"
                      [auto]="true">
        </p-fileUpload>
      </div>

      <div class="field">
        <label class="fw-bold required-field">Название</label>
        <input type="text" pInputText [ngClass]="{ 'ng-invalid ng-dirty': errors?.name }" [(ngModel)]="product.name">
        <small *ngIf="errors?.name" class="p-error">{{ errors.name | join }}</small>
      </div>

      <div class="field">
        <label class="fw-bold required-field">Количество</label>
        <div class="p-inputgroup">
          <p-inputNumber [(ngModel)]="product.amount" [ngClass]="{ 'ng-invalid ng-dirty': errors?.amount }"></p-inputNumber>
          <span class="p-inputgroup-addon">шт.</span>
        </div>
        <small *ngIf="errors?.amount" class="p-error">{{ errors.amount | join }}</small>
      </div>

      <div class="field">
        <label class="fw-bold required-field">Категория</label>
        <car-category-single-select [categories]="categories"
                                    [class]="errors?.category ? 'ng-invalid ng-dirty' : ''"
                                    [(selectedCategory)]="product.category"
                                    (selectedCategoryChange)="selectCategory()">
        </car-category-single-select>
        <small *ngIf="errors?.category" class="p-error">{{ errors.category | join }}</small>
      </div>

      <div class="field">
        <label class="fw-bold">Модели автотранспорта</label>
        <car-model-car-multi-select [brandCars]="brandCars"
                                    [class]="errors?.modelCars ? 'ng-invalid ng-dirty' : ''"
                                    [(selectedModelCars)]="product.modelCars">
        </car-model-car-multi-select>
      </div>

    </div>
  </div>
  <div class="col-12 xl:col-6">
    <p-card *ngFor="let modification of product.modifications" styleClass="mb-4">
      <div class="p-fluid formgrid grid">
        <div class="field col-12">
          <label class="fw-bold text-sm">Название модификации</label>
          <input type="text" pInputText [(ngModel)]="modification.name">
        </div>

        <div class="field col-6">
          <label class="fw-bold text-sm">Рыночная цена</label>
          <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="modification.price"></p-inputNumber>
            <span class="p-inputgroup-addon text-sm">руб.</span>
          </div>
        </div>

        <div class="field col-6">
          <label class="fw-bold text-sm">Рыночная скидка</label>
          <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="modification.discount"></p-inputNumber>
            <span class="p-inputgroup-addon text-sm">руб.</span>
          </div>
        </div>

        <div class="field col-6">
          <label class="fw-bold text-sm">Оптовая цена</label>
          <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="modification.pricePartner"></p-inputNumber>
            <span class="p-inputgroup-addon text-sm">руб.</span>
          </div>
        </div>

        <div class="field col-6">
          <label class="fw-bold text-sm">Оптовая скидка</label>
          <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="modification.discountPartner"></p-inputNumber>
            <span class="p-inputgroup-addon text-sm">руб.</span>
          </div>
        </div>
      </div>
      <p-accordion *ngIf="category">
        <p-accordionTab header="Характеристики">
          <div class="p-fluid">
            <div *ngFor="let characteristic of category.characteristics | orderBy: 'order:number'" class="field">
              <label class="fw-bold text-sm">{{ characteristic.name }}</label>
              <input type="text" pInputText [(ngModel)]="modification.params[characteristic._id]">
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <button pButton label="Удалить"
              class="p-button-danger p-button-text w-auto mt-3"
              icon="pi pi-trash"
              (click)="onModificationDelete(modification)">
      </button>
    </p-card>
    <button pButton label="Добавить модификацию"
            class="p-button-text"
            icon="pi pi-plus"
            (click)="onAddModification()">
    </button>
  </div>

  <div class="col-12 mt-4">
    <button pButton [label]="saveButtonLabel" icon="pi pi-check" class="p-button-success mr-2" (click)="onSave(product)"></button>
    <button *ngIf="canDelete" pButton [label]="'Удалить'" class="p-button-danger mr-2" (click)="delete.emit(product)"></button>
    <car-go-back-button [route]="route"></car-go-back-button>
  </div>

</div>
