<div class="card" *ngIf="product != null">
	<div class="row no-gutters">
		<label class="col-6 mb-0"
					 [style]="authService.isAuth() ? 'cursor: pointer' : ''">
			<div id="carouselImages" class="carousel slide" data-interval="false">
				<ol class="carousel-indicators" *ngIf="product.images.length != 0">
					<li *ngFor="let i of product.images; let ind = index" data-target="#carouselImages"
							[attr.data-slide-to]="ind - 1" class="bg-secondary{{ (ind == 0) ? ' active' : '' }}"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active" *ngIf="product.images.length == 0">
						<svg xmlns="http://www.w3.org/2000/svg" height="300" class="d-block rounded w-100">
							<rect width="100%" height="100%" fill="#eee"></rect>
							<text x="50%" y="50%" fill="#aaa" text-anchor="middle">Загрузить картинки</text>
						</svg>
					</div>
					<ng-container *ngIf="product.images.length != 0">
						<div *ngFor="let i of product.images; let ind = index" class="carousel-item{{ ind == 0 ? ' active' : '' }}">
							<img [src]=" 'http://localhost:3000/images/' + i" height="300" class="d-block rounded w-100">
						</div>
					</ng-container>
				</div>
				<a *ngIf="product.images.length != 0" class="carousel-control-prev"
					 href="#carouselImages" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a *ngIf="product.images.length != 0" class="carousel-control-next"
					 href="#carouselImages" role="button" data-slide="next">
					<span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<form *ngIf="authService.isAuth()" enctype="multipart/form-data">
				<input type="file" name="images" (change)="uploadImages($event)" accept="image/*" multiple hidden>
			</form>
		</label>
		<div class="col">
			<h4 class="card-header" [innerText]="product.name"></h4>
			<div class="card-body">

				<div class="row mb-2" *ngIf="authService.isAuth() && activeMod != -1">
					<div class="dropdown col-auto">
						<button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownEditDiscount"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Скидка
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownEditDiscount">
							<div class="card-body" style="min-width: 25vw;">
								<form class="mx-2" (submit)="addDiscount()">
									<input type="number" [(ngModel)]="discount" name="discount" class="form-control"
												 placeholder="Введите цену...">
									<button type="submit" class="btn btn-success col-auto mt-3">Изменить</button>
								</form>
							</div>
						</div>
					</div>
					<form class="col-auto" *ngIf="product.mods[activeMod].discount !== -1" (submit)="delDiscount()">
						<button type="submit" class="btn btn-outline-danger">Удалить скидку</button>
					</form>
				</div>

				<div class="row align-items-center" *ngIf="activeMod != -1">
					<h4 class="card-text col-auto font-weight-bold mb-0{{ product.mods[activeMod].discount === -1 ? ' text-primary' : ' text-danger' }}"
							[innerText]="product.mods[activeMod].discount === -1 ? convertToMoney(product.mods[activeMod].price) : convertToMoney(product.mods[activeMod].discount)"></h4>
					<h5 class="card-text text-secondary font-weight-bold col-auto"
							*ngIf="product.mods[activeMod].discount !== -1"
							[innerHTML]="'<del>' + convertToMoney(product.mods[activeMod].price) + '</del>'"></h5>
					<div class="dropdown col-auto" *ngIf="authService.isAuth() && product.mods[activeMod].discount === -1">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEditPrice"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Изменить цену
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownEditPrice">
							<div class="card-body" style="min-width: 25vw;">
								<form class="mx-2" (submit)="editPrice()">
									<input type="number" [(ngModel)]="price" name="price" class="form-control"
												 placeholder="Введите цену...">
									<button type="submit" class="btn btn-success mt-3">Изменить</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mt-2">
					<p class="card-text col-auto mb-0{{ product.stock > 0 ? ' text-muted' : ' text-danger' }}"
						 [innerText]="product.stock > 0 ? ('В наличии: ' + product.stock.toString()) : 'Нет в наличии'"></p>
					<div class="dropdown col-auto" *ngIf="authService.isAuth()">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEditStock"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Изменить кол-во
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownEditStock">
							<div class="card-body" style="min-width: 25vw;">
								<form class="mx-2" (submit)="updateStock()">
									<input type="number" [(ngModel)]="countStock" name="countStock" class="form-control" min="0" max="10000"
												 placeholder="Введите кол-во...">
									<button type="submit" class="btn btn-success mt-3">Изменить</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mt-3">
	<h5 class="card-header text-center">Тип комплектации</h5>
	<div class="card-body">
		<div class="overflow-auto mb-3" *ngIf="product.mods.length !== 0">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button *ngFor="let m of product.mods; let ind = index" type="button" [innerText]="m.name"
								class="btn{{ (activeMod === ind) ? ' btn-secondary' : ' btn-outline-secondary' }}"
								(click)="selectMod(ind)"></button>
			</div>
		</div>
		<ng-container *ngIf="authService.isAuth()">
			<div class="dropdown">
				<button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownAddMod"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Создать новую модификацию
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownAddMod">
					<div class="card-body" style="min-width: 25vw;">
						<form class="mx-2" (submit)="createMod()">
							<input type="text" [(ngModel)]="newNameMod" name="newNameMod" class="form-control"
										 placeholder="Введите название модификации...">
							<button type="submit" class="btn btn-success mt-3">Создать</button>
						</form>
					</div>
				</div>
			</div>

			<ng-container *ngIf="activeMod != -1">
				<div class="dropdown mt-3">
					<button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownEditMod"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Изменить название модификации
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownEditMod">
						<div class="card-body" style="min-width: 25vw;">
							<form class="mx-2" (submit)="editMod()">
								<input type="text" [(ngModel)]="editNameMod" name="editNameMod" class="form-control"
											 placeholder="Введите название модификации...">
								<button type="submit" class="btn btn-success mt-3">Изменить</button>
							</form>
						</div>
					</div>
				</div>
				<button (click)="deleteMod()" type="button" class="btn btn-outline-danger mt-3">Удалить модификацию</button>
			</ng-container>
		</ng-container>
	</div>
</div>

<div class="card mt-3" style="min-height: 300px;">
	<h5 class="card-header text-center">Подходит для автомобилей</h5>
	<div class="card-body">

		<div class="accordion mb-3" id="accordionFirms" *ngIf="authService.isAuth()">

			<div class="card" *ngFor="let f of allFirms" style="overflow: visible;">
				<div class="card-header" [id]="'heading' + f">
					<div class="row">
						<h2 class="col mb-0">
							<button class="btn btn-link btn-block text-left font-weight-bold" type="button"
											data-toggle="collapse" [attr.data-target]="'#collapse' + f" aria-expanded="false"
											[attr.aria-controls]="'collapse' + f" [innerText]="f">
							</button>
						</h2>
					</div>
				</div>
				<div [id]="'collapse' + f" class="collapse" [attr.aria-labelledby]="'heading' + f"
						 data-parent="#accordionFirms">
					<div class="card-body">
						<ul class="list-group">
							<ng-container *ngFor="let m of allModels">
								<li class="list-group-item" *ngIf="m.firm === f">
									<div class="row align-items-center">
										<div class="font-weight-bold col" [innerText]="m.model"></div>
										<button type="button" class="btn btn-outline-success col-auto mr-2"
														style="{{ isModelCar(m.model, f) ? 'display: none;' : '' }}"
														[id]="'btnAddModel' + m.model + m.firm" (click)="addCarModel(m)">
												Добавить
										</button>
										<button type="button" class="btn btn-outline-danger col-auto mr-2"
														style="{{ isModelCar(m.model, f) ? '' : 'display: none;' }}"
														[id]="'btnDelModel' + m.model + m.firm" (click)="delCarModel(m)">
												Удалить
										</button>
									</div>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="list-group" role="tablist">
					<a *ngFor="let f of activeFirms; let ind = index"
						 [id]="'list-list' + f" data-toggle="list" [href]="'#list' + f"  role="tab" [innerText]="f"
						 class="{{ 'list-group-item list-group-item-action' + (ind == 0 ? ' active' : '') }}"></a>
				</div>
			</div>
			<div class="col-8">
				<div class="tab-content">
					<div *ngFor="let f of activeFirms; let ind = index"
							 class="{{ 'tab-pane fade' + (ind == 0 ? ' show active' : '') }}" role="tabpanel"
							 [id]="'list' + f" [attr.aria-labelledby]="'list-list' + f">
						<ng-container *ngFor="let m of product.carModels">
							<h6 *ngIf="m.firm == f" [innerText]="m.model"></h6>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="card mt-3">-->
<!--	<h5 class="card-header text-center">Характеристики</h5>-->
<!--	<div class="card-body">-->
<!--		<ul class="list-group">-->
<!--			<li class="list-group-item" th:each="p : ${allProductParams}"-->
<!--					th:if="${#httpServletRequest?.isUserInRole('ADMIN') or p.getProductParams().containsKey(product.getId())}">-->
<!--				<div class="row align-items-center">-->
<!--						<h6 class="col-auto mb-0" th:text="${p.getName()} + ':'"></h6>-->
<!--						<p class="col mb-0" th:text="(${p.getProductParams().containsKey(product.getId())}?${p.getProductParams().get(product.getId())}:'')"></p>-->
<!--					<div class="dropdown col-auto" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}">-->
<!--						<button class="btn btn-outline-warning dropdown-toggle" type="button" th:id="'dropdownEditParam' + ${p.getId()}"-->
<!--										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--								Изменить-->
<!--						</button>-->
<!--						<div class="dropdown-menu" th:aria-labelledby="'dropdownEditParam' + ${p.getId()}">-->
<!--							<div class="card-body" style="min-width: 300px;">-->
<!--								<form class="mx-2" th:action="@{'/products/' + ${product.getId()}}" method="post">-->
<!--									<input type="text" name="input" class="form-control"-->
<!--												 th:if="${p.getType().equals('Текст')}" placeholder="Введите текст...">-->
<!--									<input type="number" name="number" class="form-control"-->
<!--												 th:if="${p.getType().equals('Цифра')}" placeholder="Введите число...">-->
<!--									<div class="form-check" th:if="${p.getType().equals('Да/Нет')}">-->
<!--										<input class="form-check-input" type="radio" name="bool"-->
<!--													 th:id="'exampleRadios1' + ${p.getId()}" value="Да">-->
<!--										<label class="form-check-label" th:for="'exampleRadios1' + ${p.getId()}">-->
<!--												Да-->
<!--										</label>-->
<!--									</div>-->
<!--									<div class="form-check" th:if="${p.getType().equals('Да/Нет')}">-->
<!--										<input class="form-check-input" type="radio" name="bool"-->
<!--													 th:id="'exampleRadios2' + ${p.getId()}" value="Нет">-->
<!--										<label class="form-check-label" th:for="'exampleRadios2' + ${p.getId()}">-->
<!--												Нет-->
<!--										</label>-->
<!--									</div>-->
<!--									<input type="number" name="idParam" th:value="${p.getId()}" hidden>-->
<!--									<button type="submit" class="btn btn-success mt-3">Изменить</button>-->
<!--								</form>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</li>-->
<!--		</ul>-->
<!--	</div>-->
<!--</div>-->
