<car-spinner *ngIf="loading"></car-spinner>

<div *ngIf="!loading">
  <p-panel header="Добавить категорию">
    <div class="grid align-items-center m-0 p-0">
      <div class="col">
      <span class="p-float-label">
        <input id="float-input-firm"
               type="text" pInputText
               [(ngModel)]="category.name"
               [ngClass]="{ 'ng-invalid ng-dirty': errorsCategory?.name }"
               (focusin)="errorsCategory = null"
               class="w-full">
        <label for="float-input-firm">Название категории</label>
      </span>
      </div>
      <p-button label="Добавить"
                [loading]="saving"
                icon="pi pi-check"
                styleClass="p-button-success col-fixed"
                (onClick)="createCategory()">
      </p-button>
    </div>
  </p-panel>

  <div *ngIf="categories?.length" class="flex justify-content-end mt-3">
    <div class="p-field-checkbox">
      <p-checkbox [(ngModel)]="folding" binary="true" inputId="folding" (onChange)="setFolding()"></p-checkbox>
      <label [for]="'folding'" class="ml-2">Автоматическое сворачивание</label>
    </div>
  </div>

  <p-accordion *ngIf="categories" [multiple]="!folding" styleClass="mt-3">
    <p-accordionTab *ngFor="let category of categories; let index = index">
      <ng-template pTemplate="header">
        <div class="grid align-items-center w-full my-0">
          <div class="col">
            <p *ngIf="editableId !== category._id" class="fw-bold my-0">
              <span class="hover:text-blue-400"
                    (click)="$event.stopPropagation(); editableId = category._id; categoryEdit.name = category.name">
                {{ category.name }}
              </span>
            </p>
            <div *ngIf="editableId === category._id" class="p-inputgroup" (click)="$event.stopPropagation()">
              <button type="button" pButton pRipple
                      icon="pi pi-check"
                      class="p-button-success"
                      [loading]="saving" (click)="updateCategory(category, categoryEdit)">
              </button>
              <input type="text" pInputText
                     [(ngModel)]="categoryEdit.name"
                     (keydown.enter)="$event.stopPropagation(); updateCategory(category, categoryEdit)">
              <button type="button" pButton pRipple
                      icon="pi pi-times"
                      class="p-button-danger"
                      [loading]="saving"
                      (click)="$event.stopPropagation(); editableId = null">
              </button>
            </div>
          </div>
          <div class="col-fixed py-0">
            <button pButton pRipple
                    type="button"
                    label="Удалить"
                    class="p-button-outlined p-button-danger ml-2"
                    [loading]="saving"
                    (click)="$event.stopPropagation(); deleteCategory(category)">
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p-panel header="Добавить характеристику">
          <div class="grid align-items-center m-0 p-0">
            <div class="col">
            <span class="p-float-label">
              <input id="float-input-model"
                     type="text" pInputText
                     [(ngModel)]="characteristic[index].name"
                     [ngClass]="{ 'ng-invalid ng-dirty': errorsCharacteristic[index]?.name }"
                     (focusin)="errorsCharacteristic[index] = null"
                     class="w-full">
              <label for="float-input-model">Название характеристики</label>
            </span>
            </div>
            <p-button label="Добавить"
                      [loading]="saving"
                      icon="pi pi-check"
                      styleClass="p-button-success col-fixed"
                      (onClick)="createCharacteristic(category, index)">
            </p-button>
          </div>
        </p-panel>

        <div class="mt-4">
          <div *ngFor="let characteristic of category.characteristics | orderBy: 'name:string'">
            <div class="grid align-items-center">
              <div class="col">
                <p *ngIf="editableId !== characteristic._id" class="fw-bold ml-2">
                  <span class="hover:text-blue-400 cursor-pointer"
                        (click)="editableId = characteristic._id; characteristicEdit.name = characteristic.name">
                    {{ characteristic.name }}
                  </span>
                </p>
                <div *ngIf="editableId === characteristic._id" class="p-inputgroup">
                  <button type="button" pButton pRipple
                          icon="pi pi-check"
                          class="p-button-success"
                          [loading]="saving" (click)="updateCharacteristic(characteristic, characteristicEdit)">
                  </button>
                  <input type="text" pInputText
                         [(ngModel)]="characteristicEdit.name"
                         (keydown.enter)="updateCharacteristic(characteristic, characteristicEdit)">
                  <button type="button" pButton pRipple
                          icon="pi pi-times"
                          class="p-button-danger"
                          [loading]="saving"
                          (click)="editableId = null">
                  </button>
                </div>
              </div>
              <div class="col-fixed">
                <button pButton pRipple
                        type="button"
                        label="Удалить"
                        class="p-button-outlined p-button-danger ml-2"
                        [loading]="saving"
                        (click)="deleteCharacteristic(characteristic, category)">
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
