<div class="flex justify-content-between align-items-center">
  <h1>Пользователи</h1>
  <div>
    <button pButton [label]="'Добавить'"
            class="p-button-success"
            routerLink="/user/add">
    </button>
  </div>
</div>

<car-table name="users"
           [loading]="loading"
           [values]="users"
           [columns]="itemColumns">
  <ng-template #rowTemplate let-user="item">
    <tr *ngIf="toUser(user) as user">
      <td><a routerLink="/user/edit/{{ user._id }}">{{ user.login }}</a></td>
      <td>
        <small *ngFor="let role of user.roles">{{ role | roleName }}</small>
      </td>
    </tr>
  </ng-template>
</car-table>
