<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Новый товар')"></head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container my-5">
    <h2 class="my-4">Форма создания товара</h2>
        <form th:action="@{/create-product}" method="post">
            <div class="form-group my-3">
                <input type="text" name="name" th:class="'form-control' + (${nameError}? ' is-invalid':'')"
                       th:value="${product}?${product.getName()}:''" placeholder="Введите название товара...">
                <div th:if="${nameError}" class="invalid-feedback">
                    <h6 th:text="${nameError}"></h6>
                </div>
            </div>
            <div class="form-group my-3">
                <input type="number" name="stock" th:class="'form-control' + (${stockError}? ' is-invalid':'')"
                       th:value="${product}?${product.getStock()}:''" placeholder="Введите кол-во товара...">
                <div th:if="${stockError}" class="invalid-feedback">
                    <h6 th:text="${stockError}"></h6>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-3">Продолжить</button>
        </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>