<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Панель характеристик')"></head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorText}">
        <div th:text="${errorText}"></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successText}">
        <div th:utext="${successText}"></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <button class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#collapseAddFirmCar" aria-expanded="false" aria-controls="collapseAddFirmCar">
        Добавить характеристику
    </button>
    <div class="collapse" id="collapseAddFirmCar">
        <div class="card card-body">
            <form th:action="@{/edit-params}" method="post">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="name" class="form-control" placeholder="Введите название характеристики...">
                    </div>
                    <button type="submit" class="btn btn-success col-auto px-4 mb-0">Добавить</button>
                </div>
            </form>
        </div>
    </div>

    <ul class="list-group mt-3" th:unless="${allProductParams.isEmpty()}">
        <li class="list-group-item" th:each="p : ${allProductParams}">
            <div class="row align-items-center">
                <div class="font-weight-bold col" th:utext="${p.getName()}"></div>
                <form th:action="@{/edit-params}" method="post" class="col-auto">
                    <input type="number" name="id" th:value="${p.getId()}" hidden>
                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                </form>
            </div>
        </li>
    </ul>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>