<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Панель моделей автотранспорта')"></head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorText}">
        <div th:text="${errorText}"></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successText}">
        <div th:text="${successText}"></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddModelCar" aria-expanded="false" aria-controls="collapseAddModelCar">
        Добавить модель
    </button>
    <div class="collapse" id="collapseAddModelCar">
        <div class="card card-body">
            <form th:action="@{/edit-models}" method="post">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="inputModel" class="form-control" placeholder="Введите название модели...">
                    </div>
                    <div class="col">
                        <input type="text" name="inputFirm" class="form-control" placeholder="Введите название фирмы...">
                    </div>
                </div>
                <input type="number" name="task" value="1" hidden>
                <button type="submit" class="btn btn-success mt-3">Добавить</button>
            </form>
        </div>
    </div>

    <div class="accordion mt-4" id="accordionFirms">

        <div class="card" th:each="f : ${allFirms}" style="overflow: visible;">
            <div class="card-header" th:id="'heading' + ${f}">
                <div class="row">
                    <h2 class="col mb-0">
                        <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse"
                                th:data-target="'#collapse' + ${f}" aria-expanded="false"
                                th:aria-controls="'collapse' + ${f}" th:text="${f}">
                        </button>
                    </h2>
                    <div class="dropdown col-auto">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" th:id="'dropdownEditFirm' + ${f}"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Изменить название
                        </button>
                        <div class="dropdown-menu" th:aria-labelledby="'dropdownEditFirm' + ${f}">
                            <div class="card-body" style="min-width: 300px;">
                                <form class="mx-2" th:action="@{/edit-models}" method="post" name="editFirmCar">
                                    <input type="text" name="inputFirm" class="form-control" placeholder="Введите название фирмы...">
                                    <input type="text" name="oldFirm" th:value="${f}" hidden>
                                    <input type="number" name="task" value="2" hidden>
                                    <button type="submit" class="btn btn-success mt-3">Изменить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/edit-models}" method="post" class="col-auto">
                        <input type="text" name="oldFirm" th:value="${f}" hidden>
                        <input type="number" name="task" value="3" hidden>
                        <button type="submit" class="btn btn-outline-danger">Удалить</button>
                    </form>
                </div>
            </div>
            <div th:id="'collapse' + ${f}" class="collapse"
                 th:aria-labelledby="'heading' + ${f}" data-parent="#accordionFirms">
                <div class="card-body">
                    <ul class="list-group">
                        <th:block th:each="m : ${allModels}">
                            <li class="list-group-item" th:if="${m.getFirm().equals(f)}">
                                <div class="row align-items-center">
                                    <div class="font-weight-bold col" th:text="${m.getModel()}"></div>
                                    <div class="dropdown col-auto">
                                        <button class="btn btn-outline-warning dropdown-toggle" type="button"
                                                th:id="'dropdownEditModel' + ${m.getModel()}"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Изменить название
                                        </button>
                                        <div class="dropdown-menu" th:aria-labelledby="'dropdownEditModel' + ${m.getModel()}">
                                            <div class="card-body" style="min-width: 300px;">
                                                <form class="mx-2" th:action="@{/edit-models}" method="post">
                                                    <input type="text" name="inputModel" class="form-control" placeholder="Введите название модели...">
                                                    <input type="text" name="inputFirm" th:value="${f}" hidden>
                                                    <input type="text" name="oldModel" th:value="${m.getModel()}" hidden>
                                                    <input type="number" name="task" value="4" hidden>
                                                    <button type="submit" class="btn btn-success mt-3">Изменить</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <form th:action="@{/edit-models}" method="post" class="col-auto">
                                        <input type="text" name="inputModel" th:value="${m.getModel()}" hidden>
                                        <input type="text" name="inputFirm" th:value="${f}" hidden>
                                        <input type="number" name="task" value="5" hidden>
                                        <button type="submit" class="btn btn-outline-danger">Удалить</button>
                                    </form>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>