<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Главная')"></head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <div class="list-group m-4 col-md-2">
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold active">
                1 DIN
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold">
                2 DIN
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold">
                Штатные автомагнитолы
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold">
                Аксессуары
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold">
                Камеры заднего вида
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold">
                Универсальные камеры
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold">
                Камера переднего вида
            </a>
            <a href="#" class="list-group-item list-group-item-action border border-dark font-weight-bold" tabindex="-1">
                Навесные мониторы
            </a>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>