<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Главная')"></head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4">
    <div class="form-row align-items-center bg-secondary text-white container">
        <div class="form-group col mt-3">
            <input type="text" class="form-control" placeholder="Введите фирму автомобиля...">
        </div>
        <div class="form-group col mt-3">
            <input type="text" class="form-control" placeholder="Введите модель автомобиля...">
        </div>
        <div class="form-group col mt-3">
            <input type="number" min="1950" th:max="${#dates.format(#dates.createNow(), 'YYYY')}" class="form-control" placeholder="Введите год автомобиля...">
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>