<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Новый товар | ' + ${product?.getName()})"></head>
<body>
<script type="text/javascript" th:src="@{/static/showProduct.js}"></script>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4">
    <div class="card">
        <div class="row no-gutters">
            <label class="col-6 mb-0"
                   th:style="${#httpServletRequest?.isUserInRole('ADMIN')}?'cursor: pointer':''">
                <div id="carouselImages" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" th:unless="${product.getImages().isEmpty()}">
                        <li th:each="i : ${product.getImages()}" data-target="#carouselImages"
                            th:attr="data-slide-to=${iStat.count - 1}" th:class="'bg-secondary' + (${iStat.count == 1}?' active':'')"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:if="${product.getImages().isEmpty()}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="300" class="d-block rounded w-100">
                                <rect width="100%" height="100%" fill="#eee"></rect>
                                <text x="40%" y="50%" fill="#aaa" dy=".3em">Загрузить картинки</text>
                            </svg>
                        </div>
                        <th:block th:unless="${product.getImages().isEmpty()}">
                            <div th:each="i : ${product.getImages()}" th:class="'carousel-item' + (${iStat.count == 1}?' active':'')">
                                <img th:src="'/img/' + ${i}" height="300" class="d-block rounded w-100">
                            </div>
                        </th:block>
                    </div>
                    <a th:unless="${product.getImages().isEmpty()}" class="carousel-control-prev"
                       href="#carouselImages" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a th:unless="${product.getImages().isEmpty()}" class="carousel-control-next"
                       href="#carouselImages" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <form th:action="@{'/products/' + ${product.getId()}}" method="post" enctype="multipart/form-data">
                        <input type="file" name="files" accept="image/*" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}"
                                onchange="clickImagesProduct()" multiple hidden>
                    <button type="submit" id="updateImages" hidden></button>
                </form>
            </label>
            <div class="col">
                <div class="card-header">
                    <h4 class="card-title" th:text="${product.getName()}"></h4>
                </div>
                <div class="card-body">
                    <h4 class="card-text text-primary font-weight-bold" th:text="${product.convertToMoney()}"></h4>
                    <p class="card-text text-muted" th:if="${product.getStock() > 0}"
                       th:text="'В наличии: ' + ${product.getStock()} + ' шт.'"></p>
                    <p class="card-text text-danger text-muted" th:if="${product.getStock() == 0}">Нет в наличии</p>
                </div>
            </div>
        </div>
    </div>
    <button type="button" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}" class="btn btn-success mt-3">
        Опубликовать
    </button>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>