<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Новый товар | ' + ${product?.getName()})"></head>
<body>
<script type="text/javascript" th:src="@{/static/showProduct.js}"></script>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4">

    <div class="card">
        <div class="row no-gutters">
            <label class="col-6 mb-0"
                   th:style="${#httpServletRequest?.isUserInRole('ADMIN')}?'cursor: pointer':''">
                <div id="carouselImages" class="carousel slide" data-interval="false">
                    <ol class="carousel-indicators" th:unless="${product.getImages().isEmpty()}">
                        <li th:each="i : ${product.getImages()}" data-target="#carouselImages"
                            th:attr="data-slide-to=${iStat.count - 1}" th:class="'bg-secondary' + (${iStat.count == 1}?' active':'')"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:if="${product.getImages().isEmpty()}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="300" class="d-block rounded w-100">
                                <rect width="100%" height="100%" fill="#eee"></rect>
                                <text x="40%" y="50%" fill="#aaa" dy=".3em">Загрузить картинки</text>
                            </svg>
                        </div>
                        <th:block th:unless="${product.getImages().isEmpty()}">
                            <div th:each="i : ${product.getImages()}" th:class="'carousel-item' + (${iStat.count == 1}?' active':'')">
                                <img th:src="'/img/' + ${i}" height="300" class="d-block rounded w-100">
                            </div>
                        </th:block>
                    </div>
                    <a th:unless="${product.getImages().isEmpty()}" class="carousel-control-prev"
                       href="#carouselImages" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a th:unless="${product.getImages().isEmpty()}" class="carousel-control-next"
                       href="#carouselImages" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <form th:action="@{'/products/' + ${product.getId()}}" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}"
                      method="post" enctype="multipart/form-data">
                        <input type="file" name="files" accept="image/*" onchange="clickImagesProduct()" multiple hidden>
                    <button type="submit" id="updateImages" hidden></button>
                </form>
            </label>
            <div class="col">
                <h4 class="card-header" th:text="${product.getName()}"></h4>
                <div class="card-body">
                    <div class="row mb-2" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}">
                        <div class="dropdown col-auto">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownEditDiscount"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Скидка
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownEditDiscount">
                                <div class="card-body" style="min-width: 300px;">
                                    <form class="mx-2" th:action="@{'/products/' + ${product.getId()}}" method="post">
                                        <input type="number" name="discount" class="form-control" min="0"
                                               th:max="(${product.getPrice() == 0}?'0':${product.getPrice() - 1})"
                                               placeholder="Введите цену...">
                                        <button type="submit" class="btn btn-success col-auto mt-3">Изменить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <form class="col-auto" th:action="@{'/products/' + ${product.getId()}}" method="post">
                            <input type="number" name="isDel" value="1" hidden>
                            <button type="submit" class="btn btn-outline-danger"
                                    th:if="${product.getDiscount() != null}">
                                Удалить скидку
                            </button>
                        </form>
                    </div>
                    <div class="row align-items-center">
                        <h4 th:class="'card-text col-auto font-weight-bold mb-0' + (${product.getDiscount() == null}?' text-primary':' text-danger')"
                            th:text="${product.getDiscount() == null}?${product.convertToMoney()}:${product.convertToMoneyDiscount()}"></h4>
                        <h5 class="card-text text-secondary font-weight-bold col-auto"
                            th:if="${product.getDiscount() != null}"
                            th:utext="'<del>' + ${product.convertToMoney()} + '</del>'"></h5>
                        <div class="dropdown col-auto"
                             th:if="${#httpServletRequest?.isUserInRole('ADMIN') and product.getDiscount() == null}">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEditPrice"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Изменить цену
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownEditPrice">
                                <div class="card-body" style="min-width: 300px;">
                                    <form class="mx-2" th:action="@{'/products/' + ${product.getId()}}" method="post">
                                        <input type="number" name="price" class="form-control" min="0" max="100000"
                                               placeholder="Введите цену...">
                                        <button type="submit" class="btn btn-success mt-3">Изменить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <p th:class="'card-text col-auto mb-0' + (${product.getStock() > 0}?' text-muted':' text-danger')"
                           th:text="(${product.getStock() > 0}?('В наличии: ' + ${product.getStock()} + ' шт.'):'Нет в наличии')"></p>
                        <div class="dropdown col-auto" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownEditStock"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Изменить кол-во
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownEditStock">
                                <div class="card-body" style="min-width: 300px;">
                                    <form class="mx-2" th:action="@{'/products/' + ${product.getId()}}" method="post">
                                        <input type="number" name="countStock" class="form-control" min="0" max="100000"
                                               placeholder="Введите кол-во...">
                                        <button type="submit" class="btn btn-success mt-3">Изменить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" style="min-height: 300px;">
        <h5 class="card-header text-center">Подходит для автомобилей</h5>
        <div class="card-body">

            <div class="accordion mb-3" id="accordionFirms" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}">

                <div class="card" th:each="f : ${allFirms}" style="overflow: visible;">
                    <div class="card-header" th:id="'heading' + ${f.getId().toString()}">
                        <div class="row">
                            <h2 class="col mb-0">
                                <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse"
                                        th:data-target="'#collapse' + ${f.getId().toString()}" aria-expanded="false"
                                        th:aria-controls="'collapse' + ${f.getId().toString()}" th:text="${f.getFirm()}">
                                </button>
                            </h2>
                        </div>
                    </div>
                    <div th:id="'collapse' + ${f.getId().toString()}" class="collapse"
                         th:aria-labelledby="'heading' + ${f.getId().toString()}" data-parent="#accordionFirms">
                        <div class="card-body">
                            <ul class="list-group">
                                <th:block th:each="m : ${allModels}">
                                    <li class="list-group-item" th:if="${m.getFirmCar().getId() == f.getId()}">
                                        <div class="row align-items-center">
                                            <div class="font-weight-bold col" th:text="${m.getModel()}"></div>
                                            <button type="submit" class="btn btn-outline-success col-auto"
                                                    th:style="(${product.getModelsCars().contains(m)}?'display: none;':'')"
                                                    th:id="'btnAddModel' + ${m.getId()}"
                                                    th:onclick="'clickModel('+ ${product.getId()} + ', ' + ${m.getId()} + ')'">
                                                Добавить
                                            </button>
                                            <button type="submit" class="btn btn-outline-danger col-auto"
                                                    th:style="(${product.getModelsCars().contains(m)}?'':'display: none;')"
                                                    th:id="'btnDelModel' + ${m.getId()}"
                                                    th:onclick="'clickModel('+ ${product.getId()} + ', ' + ${m.getId()} + ')'">
                                                Удалить
                                            </button>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="list-group" role="tablist">
                        <a th:each="f : ${activeFirms}"
                           th:id="'list-list' + ${f.getId()}" data-toggle="list"
                           th:href="'#list' + ${f.getId()}" role="tab"
                           th:text="${f.getFirm()}"
                           th:class="'list-group-item list-group-item-action' + (${fStat.count == 1}?' active':'')"></a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content">
                        <div th:each="f : ${activeFirms}"
                             th:class="'tab-pane fade' + (${fStat.count == 1}?' show active':'')" role="tabpanel"
                             th:id="'list' + ${f.getId()}" th:aria-labelledby="'list-list' + ${f.getId()}">
                            <th:block th:each="m : ${product.getModelsCars()}" th:if="${m.getFirmCar().getFirm().equals(f.getFirm())}">
                                <h6 class="" th:utext="${m.getModel().toString()}"></h6>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <h5 class="card-header text-center">Характеристики</h5>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="p : ${allProductParams}">
                    <div class="row align-items-center">
                        <h6 class="col-auto mb-0" th:text="${p.getName()} + ':'"></h6>
                        <p class="col mb-0" th:text="(${p.getProductParams().containsKey(product.getId())}?${p.getProductParams().get(product.getId())}:'')"></p>
                        <div class="dropdown col-auto" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}">
                            <button class="btn btn-outline-warning dropdown-toggle" type="button" th:id="'dropdownEditParam' + ${p.getId()}"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Изменить
                            </button>
                            <div class="dropdown-menu" th:aria-labelledby="'dropdownEditParam' + ${p.getId()}">
                                <div class="card-body" style="min-width: 300px;">
                                    <form class="mx-2" th:action="@{'/products/' + ${product.getId()}}" method="post">
                                        <input type="text" name="input" class="form-control"
                                               th:if="${p.getType().equals('Текст')}" placeholder="Введите текст...">
                                        <input type="number" name="number" class="form-control"
                                               th:if="${p.getType().equals('Цифра')}" placeholder="Введите число...">
                                        <div class="form-check" th:if="${p.getType().equals('Да/Нет')}">
                                            <input class="form-check-input" type="radio" name="bool"
                                                   th:id="'exampleRadios1' + ${p.getId()}" value="Да">
                                            <label class="form-check-label" th:for="'exampleRadios1' + ${p.getId()}">
                                                Да
                                            </label>
                                        </div>
                                        <div class="form-check" th:if="${p.getType().equals('Да/Нет')}">
                                            <input class="form-check-input" type="radio" name="bool"
                                                   th:id="'exampleRadios2' + ${p.getId()}" value="Нет">
                                            <label class="form-check-label" th:for="'exampleRadios2' + ${p.getId()}">
                                                Нет
                                            </label>
                                        </div>
                                        <input type="number" name="idParam" th:value="${p.getId()}" hidden>
                                        <button type="submit" class="btn btn-success mt-3">Изменить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <form class="col-auto" th:action="@{'/products/' + ${product.getId()}}" method="post">
            <input type="number" name="isPublic" value="1" hidden>
            <button type="submit" th:if="${#httpServletRequest?.isUserInRole('ADMIN') and !product.isPublic()}" class="btn btn-success mt-3">
                Опубликовать
            </button>
        </form>
        <form class="col-auto" th:action="@{'/products/' + ${product.getId()}}" method="post">
            <input type="number" name="isDelProduct" value="1" hidden>
            <button type="submit" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}" class="btn btn-danger mt-3">
                Удалить
            </button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>