<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head :: head('Новый товар | ' + ${product?.getName()})"></head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4">
    <form th:action="@{/${product?.getId()}}" method="post">
        <div class="card">
            <div class="row no-gutters">
                <label class="col-6 mb-0"
                       th:style="${#httpServletRequest?.isUserInRole('ADMIN')}?'cursor: pointer':''">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <svg xmlns="http://www.w3.org/2000/svg" height="300" class="d-block rounded w-100">
                                    <rect width="100%" height="100%" fill="#eee"></rect>
                                    <text x="40%" y="50%" fill="#aaa" dy=".3em">Загрузить картинки</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <input type="file" name="files" accept="image/*" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}"
                           multiple hidden>
                </label>
                <div class="col">
                    <div class="card-header">
                        <h4 class="card-title" th:text="${product.getName()}"></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text text-primary font-weight-bold" th:text="${product.convertToMoney()}"></h4>
                        <p class="card-text text-muted" th:if="${product.getStock() > 0}"
                           th:text="'В наличии: ' + ${product.getStock()} + ' шт.'"></p>
                        <p class="card-text text-danger text-muted" th:if="${product.getStock() == 0}">Нет в наличии</p>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" th:if="${#httpServletRequest?.isUserInRole('ADMIN')}" class="btn btn-success mt-3">
            Опубликовать
        </button>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>