<h1>Настройки сайта</h1>

<div *ngIf="!loading" class="grid">
  <div class="col-12 xl:col-6">
    <div class="p-fluid">

      <div class="field">
        <label class="fw-bold">Текст на шапке сайта</label>
        <p-editor [(ngModel)]="settings.headerText" [style]="{ 'height': '150px' }"></p-editor>
      </div>

      <div class="field">
        <label class="fw-bold">Текст в конце сайта</label>
        <p-editor [(ngModel)]="settings.footerText" [style]="{ 'height': '150px' }"></p-editor>
      </div>

    </div>
  </div>

  <div class="col-12 xl:col-6">
    <p-divider align="left">
      <b>Настройка водного знака</b>
    </p-divider>

    <div class="p-fluid">
      <div class="field-checkbox">
        <p-checkbox [(ngModel)]="settings.watermark.enableWatermark" [binary]="true" inputId="enableWatermark"></p-checkbox>
        <label [for]="'enableWatermark'">Включить водные знаки</label>
      </div>

      <ng-container *ngIf="settings.watermark?.enableWatermark">
        <div class="field">
          <label class="fw-bold">Тип</label>
          <p-selectButton [options]="watermarkTypes"
                          [(ngModel)]="selectWatermarkType"
                          (onChange)="settings.watermark.type = $event.value">
          </p-selectButton>
        </div>

        <ng-container *ngIf="settings.watermark?.type === WatermarkTypeEnum.TEXT">
          <div class="field">
            <label class="fw-bold">Текст</label>
            <input type="text" pInputText [(ngModel)]="settings.watermark.text">
          </div>

          <div class="field">
            <label class="fw-bold">Цвет фона</label>
            <br />
            <p-colorPicker [(ngModel)]="settings.watermark.backgroundColor"></p-colorPicker>
          </div>

          <div class="field">
            <label class="fw-bold">Шрифт</label>
            <div class="flex mb-2">
              <ng-container *ngFor="let file of settings.watermark?.font">
                <car-file [file]="file" class="mr-2"></car-file>
              </ng-container>
            </div>
            <div class="flex">
              <p-fileUpload #fileUploadFont
                            mode="basic"
                            [customUpload]="true"
                            (uploadHandler)="addFilesFont($event)"
                            [auto]="true"
                            [disabled]="uploadingFiles"
                            [multiple]="true"
                            chooseIcon="pi-paperclip"
                            [chooseLabel]="settings.watermark?.font?.length ? 'Обновить шрифты' : 'Загрузить шрифты'">
              </p-fileUpload>
              <button *ngIf="settings.watermark?.font?.length"
                      pButton pRipple
                      type="button"
                      label="Удалить шрифты"
                      (click)="deleteFont()"
                      class="p-button-danger ml-3"
                      style="width: 11rem">
              </button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="settings.watermark?.type === WatermarkTypeEnum.IMAGE">
          <div class="field">
            <label class="fw-bold">Картинка</label>
            <div *ngIf="settings.watermark?.image" class="flex mb-2">
              <car-file [file]="settings.watermark?.image" class="mr-2"></car-file>
            </div>
            <div class="flex">
              <p-fileUpload #fileUploadImage
                            mode="basic"
                            accept="image/*"
                            [customUpload]="true"
                            (uploadHandler)="addImage($event)"
                            [auto]="true"
                            [disabled]="uploadingFiles"
                            chooseIcon="pi-paperclip"
                            [chooseLabel]="settings.watermark?.image ? 'Обновить картинку' : 'Загрузить картинку'">
              </p-fileUpload>
              <button *ngIf="settings.watermark?.image"
                      pButton pRipple
                      type="button"
                      label="Удалить картинку"
                      (click)="deleteImage()"
                      class="p-button-danger ml-3"
                      style="width: 12rem">
              </button>
            </div>
          </div>
        </ng-container>

        <div class="field">
          <label class="fw-bold">Покрытие водного знака по ширине картинки</label>
          <p-inputNumber [(ngModel)]="settings.watermark.scale"
                         [showButtons]="true"
                         [step]="5"
                         [min]="0"
                         [maxFractionDigits]="0"
                         [max]="100"
                         suffix="%">
          </p-inputNumber>
        </div>

        <div class="field">
          <label class="fw-bold">Показатель прозрачности водного знака</label>
          <p-inputNumber [(ngModel)]="settings.watermark.opacitySource"
                         [showButtons]="true"
                         [step]="0.1"
                         [min]="0"
                         [maxFractionDigits]="1"
                         [max]="1">
          </p-inputNumber>
        </div>

        <div class="field">
          <label class="fw-bold">Показатель прозрачности картинки</label>
          <p-inputNumber [(ngModel)]="settings.watermark.opacityDest"
                         [showButtons]="true"
                         [step]="0.1"
                         [min]="0"
                         [maxFractionDigits]="1"
                         [max]="1">
          </p-inputNumber>
        </div>

        <div class="field">
          <label class="fw-bold">Проверить водяной знак</label>
          <div *ngIf="imagePreview" class="flex mb-2">
            <car-file [file]="imagePreview" class="mr-2"></car-file>
          </div>
          <div class="flex">
            <p-fileUpload #fileUploadPreview
                          mode="basic"
                          accept="image/*"
                          [customUpload]="true"
                          (uploadHandler)="addImagePreview($event)"
                          [auto]="true"
                          [disabled]="uploadingFiles"
                          chooseIcon="pi-paperclip"
                          chooseLabel="Загрузить картинку">
            </p-fileUpload>
          </div>
        </div>
      </ng-container>
    </div>

  </div>

  <div class="col-12 mt-4">
    <button pButton label="Сохранить" icon="pi pi-check" class="p-button-success mr-2" (click)="save()"></button>
  </div>
</div>

<car-spinner *ngIf="loading"></car-spinner>
